<div class="min-h-screen flex items-center justify-center bg-cover bg-center p-6" style="background-image: url('<%= asset_path('bg-car.png') %>');">
  <div class="bg-white/85 backdrop-blur-md bg-white shadow-2xl rounded-2xl w-full max-w-md p-8 animate-fadeIn backdrop-blur-md bg-opacity-80">
    
    <h2 class="text-3xl font-bold text-center mb-6 text-gray-800">
      Welcome To Madni Autos
    </h2>
    <p class="text-center text-gray-500 mb-6">
      Login to continue to <strong>Madni Autos</strong>
    </p>

    <%= form_with model: resource, url: session_path(resource_name), class: "space-y-5" do |f| %>

      <div>
        <%= f.label :email, class: "block text-gray-700 font-medium" %>
        <%= f.email_field :email, autofocus: true, placeholder: "Enter your email", class: "mt-1 w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-cyan-500 focus:outline-none" %>
      </div>

      <div>
        <%= f.label :password, class: "block text-gray-700 font-medium" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password", class: "mt-1 w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-cyan-500 focus:outline-none" %>
      </div>

      <div class="flex justify-between items-center">
        <% if devise_mapping.rememberable? %>
          <label class="flex items-center space-x-2 text-gray-600">
            <%= f.check_box :remember_me, class: "rounded" %>
            <span>Remember me</span>
          </label>
        <% end %>

        <%= link_to "Forgot Password?", new_password_path(resource_name), class: "text-sm text-blue-600 hover:underline" %>
      </div>

      <%= f.submit "Log in", class: "w-full bg-cyan-500 text-white py-3 rounded-xl hover:bg-cyan-700 transition font-semibold shadow-lg" %>

    <% end %>

    <p class="text-center text-gray-600 mt-6">
      Don’t have an account?
      <%= link_to "Sign Up", new_registration_path(resource_name), class: "text-cyan-600 hover:underline font-semibold" %>
    </p>

  </div>
</div>
