<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Madni Autos" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-100 font-sans">
    <header class="bg-cyan-500 text-white font-medium shadow p-6 flex justify-between items-center">
      <h1 class="text-xl font-bold hover:text-black">
        <a href="/">Madni Autos</a>
      </h1>

      <nav class="space-x-4">
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to "Admin Dashboard", admin_dashboard_path, class: "hover:text-black" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "hover:text-red-500" %>
        <% else %>
          <%= link_to "Home", root_path, class: "hover:text-black" %>
          <%= link_to "About", about_path, class: "hover:text-black" %>
          <%= link_to "Contact", contact_path, class: "hover:text-black" %>
          <%= link_to "FAQ", faq_path, class: "hover:text-black" %>

          <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "hover:text-red-500" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "hover:text-black" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "hover:text-black" %>
          <% end %>
        <% end %>
      </nav>

    </header>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
